function Wall.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
push argument 2
gt
push argument 1
push argument 3
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
pop this 0
push argument 3
pop this 1
push argument 0
pop this 2
push argument 1
pop this 3
goto IF_END0
label IF_FALSE0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
label IF_END0
push this 0
push constant 9
call Math.multiply 2
push constant 10
add
pop this 0
push this 1
push constant 9
call Math.multiply 2
push constant 30
add
pop this 1
push this 2
push constant 9
call Math.multiply 2
push constant 17
add
pop this 2
push this 3
push constant 9
call Math.multiply 2
push constant 37
add
pop this 3
push pointer 0
return
function Wall.drawBorder 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 2
push this 3
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Wall.drawInside 0
push argument 0
pop pointer 0
push this 0
push constant 1
add
push this 1
push constant 1
add
push this 2
push constant 1
sub
push this 3
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Wall.drawDetails 0
push argument 0
pop pointer 0
push argument 1
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
call Screen.drawPixel 2
pop temp 0
push this 0
push constant 1
add
push this 1
call Screen.drawPixel 2
pop temp 0
push this 0
push this 1
push constant 1
add
call Screen.drawPixel 2
pop temp 0
push this 0
push this 3
call Screen.drawPixel 2
pop temp 0
push this 0
push constant 1
add
push this 3
call Screen.drawPixel 2
pop temp 0
push this 0
push this 3
push constant 1
sub
call Screen.drawPixel 2
pop temp 0
push this 2
push this 1
call Screen.drawPixel 2
pop temp 0
push this 2
push constant 1
sub
push this 1
call Screen.drawPixel 2
pop temp 0
push this 2
push this 1
push constant 1
add
call Screen.drawPixel 2
pop temp 0
push this 2
push this 3
call Screen.drawPixel 2
pop temp 0
push this 2
push constant 1
sub
push this 3
call Screen.drawPixel 2
pop temp 0
push this 2
push this 3
push constant 1
sub
call Screen.drawPixel 2
pop temp 0
push argument 1
call Screen.setColor 1
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 1
add
call Screen.drawPixel 2
pop temp 0
push this 0
push constant 1
add
push this 3
push constant 1
sub
call Screen.drawPixel 2
pop temp 0
push this 2
push constant 1
sub
push this 1
push constant 1
add
call Screen.drawPixel 2
pop temp 0
push this 2
push constant 1
sub
push this 3
push constant 1
sub
call Screen.drawPixel 2
pop temp 0
push constant 0
return
function Wall.fixDetails1 0
push argument 0
pop pointer 0
push this 0
push constant 2
add
push this 1
push this 2
push constant 2
sub
push this 1
call Screen.drawLine 4
pop temp 0
push this 0
push constant 2
add
push this 3
push this 2
push constant 2
sub
push this 3
call Screen.drawLine 4
pop temp 0
push this 0
push this 1
push constant 2
add
push this 0
push this 3
push constant 2
sub
call Screen.drawLine 4
pop temp 0
push this 2
push this 1
push constant 2
add
push this 2
push this 3
push constant 2
sub
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Wall.fixDetails2 0
push argument 0
pop pointer 0
push this 0
push constant 2
add
push this 1
push constant 1
add
push this 2
push constant 2
sub
push this 3
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 1
add
push this 1
push constant 2
add
push this 2
push constant 1
sub
push this 3
push constant 2
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Wall.checkOverlapping 0
push argument 0
pop pointer 0
push argument 1
push argument 3
sub
push this 2
push constant 3
add
lt
push argument 1
push argument 3
add
push this 0
push constant 3
sub
gt
and
push argument 2
push argument 3
sub
push this 3
push constant 3
add
lt
push argument 2
push argument 3
add
push this 1
push constant 3
sub
gt
and
and
return
function Wall.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
